<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.sina.weibo.sdk.simple.weibo">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".app.Weibo"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar">
        <activity
            android:name=".ui.activity.LoadActivity"
            android:theme="@style/LoadActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>
        <!-- 认证界面 -->
        <activity
            android:name=".ui.activity.OAuthActivity"
            android:label="@string/title_activity_oauth"
            android:theme="@style/OAuthDialogTheme">
        </activity>

        <!-- 用户登录界面 -->
        <activity
            android:name=".ui.activity.LoginActivity"
            android:launchMode="singleTask">
        </activity>

        <!-- 公共微博信息界面 -->
        <activity android:name=".ui.activity.PublicTimeLineActivity">
        </activity>

        <!-- 用户个人微博 -->
        <activity android:name=".ui.activity.UserTimeLineActivity">
        </activity>

        <!-- 用户及所关注用户的最新微博 -->

        <!-- 单条微博具体内容 -->
        <activity android:name=".ui.activity.WeiboContentActivity">
        </activity>

        <!-- 关注者列表 -->
        <activity android:name=".ui.activity.UserFriendsActivity">
        </activity>

        <!-- 查看图片界面 -->
        <activity
            android:name=".ui.activity.ShowImageActivity"
            android:hardwareAccelerated="false">
        </activity>
        <!-- 主页 -->
        <activity android:name=".ui.activity.HomeActivity">
        </activity>

        <!-- @当前用户的微博信息 -->
        <activity android:name=".ui.activity.MentionUserActivity">
        </activity>

        <!--用户粉丝界面-->
        <activity android:name=".ui.activity.UserFansActivity"></activity>

        <!-- 单条微博评论页面-->
        <activity
            android:name=".ui.activity.CommentActivity"
            android:windowSoftInputMode="adjustResize"
            ></activity>

    </application>

</manifest>